.container{
    float: left;
    padding: 1pt;
    max-width:none;
    overflow: hidden;
}
.list-group-item{
    padding: 0.5rem 0.5rem;
}
img{
    height: 40pt;
    width: 38pt;
}
#time{
    font-size: small;
}